<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
</head>
<body>
  <h1>여기가 Header</h1>

  {% if user.is_authenticated %} <!--로그인이 됐다면-->
  <h3>안녕하세요 {{user}} 님!</h3>
  <form action="{% url 'accounts:logout' %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="로그아웃"></form>
  
  {% else %}
  <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
  <hr>
  {% block content %}
  {% endblock content %}
  <hr>
  <h3>여기가 Footer</h3> 
</body>
</html>